/**** Variable ****/
/**** responsive ****/
/**** logo ****/
/**** cercle ****/
/**** Shadow ****/
/**** gradient ****/
/**** Gradient ****/
.content-background {
  background: #f2f2f2;
}

.marginbas {
  margin-bottom: 0;
}

.white {
  color: white;
}

.black {
  color: black;
}

.cards {
  height: 70px;
  background: #f2f2f2;
  align-content: center;
  width: 335px;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.2));
}
.cards__content {
  display: flex;
  gap: 25px;
  margin: 0 auto;
}
.cards__content a {
  padding: 4px;
  display: flex;
  gap: 20px;
}

.fa-store {
  color: #9356DC;
}

.cards-radius {
  border-radius: 15px;
}

* {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header__logo {
  padding: 20px 0 15px 0;
}
header .header {
  width: 100%;
  height: 50px;
}
header input {
  border: none;
}

.header-menu {
  padding: 20px 0 15px 0;
}

.header__form {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  background: #eaeaea;
}
.header__form input {
  background: #eaeaea;
  width: 200px;
  font-family: "roboto", sans-serif;
  font-size: medium;
  color: #353535;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.2);
}
.about__link {
  height: 50px;
  width: 228px;
  margin: 0 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  text-decoration: none;
  border-radius: 30px;
}
.about__link a {
  color: #ffffff;
}
.about h1 {
  margin: 35px 10px 0px 10px;
}
.about p {
  margin: 20px 20px 30px 20px;
}

.howto {
  margin: 0 60px 50px 60px;
}
.howto h2 {
  margin: 50px 0 30px 105px;
}
@media all and (min-width: 1024px) {
  .howto h2 {
    display: flex;
    justify-content: flex-start;
  }
}
.howto .howto__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}
@media all and (min-width: 1024px) {
  .howto .howto__cards {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9356DC;
}
.circle h3 {
  margin: 0 auto;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px 0 80px 0;
  background: #f2f2f2;
}
.restaurant h2 {
  padding: 20px 0 20px 0;
  margin: 0 auto;
  width: 80%;
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  margin: 0px 10px 20px 10px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 #D5D5D5;
}
@media all and (min-width: 768px) {
  .restaurant__cards {
    width: 48%;
    margin: 0;
    margin-bottom: 4%;
  }
}
.restaurant__cards:hover {
  box-shadow: 0 4px 10px 0 #bcbcbc;
}
.restaurant__cards--img {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--img img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__cards--img--new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
}
.restaurant__cards--info {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
  padding: 15px;
}
.restaurant__cards--info--text {
  width: 90%;
}
.restaurant__cards--info h4, .restaurant__cards--info p {
  margin: 0;
}
.restaurant__cards--info h4 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}
.restaurant__cards--info p {
  height: 24px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant__cards--like {
  position: absolute;
  top: 76%;
  right: 7%;
  font-size: 25px;
}

.restaurant__container {
  width: 80%;
  margin: auto;
}
@media all and (min-width: 768px) {
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__container {
  background: #353535;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .footer__container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
  }
}
.footer__container .footer__container--links {
  padding: 0;
}
@media all and (min-width: 768px) {
  .footer__container .footer__container--links {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
.footer__container .footer__container--links li {
  display: flex;
  padding-bottom: 7px;
}
.footer__container--icon {
  padding-right: 5%;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  font-size: 15px;
}

.footer__container--logo {
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", cursive;
  font-size: 22px;
  color: #ffffff;
}
@media all and (min-width: 768px) {
  .footer__container--logo {
    margin-left: 50px;
  }
}

.header__back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  width: 20px;
  height: 20px;
  top: 2.5%;
  font-size: 30px;
  color: #353535;
}

/* Animation loader */
@keyframes loading-appear {
  50% {
    opacity: 0.95;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotate-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}
/* Heart fill */
@keyframes heart-fill {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.5);
  }
  95% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.17, 0.1, 0.5, 0.67);
  }
}
.fade-in {
  transform-origin: top;
  animation: fade-in 2s forwards;
}
.fade-in--2 {
  animation: fade-in 2s 500ms both;
}
.fade-in--3 {
  animation: fade-in 2s 1000ms both;
}
.fade-in--4 {
  animation: fade-in 2s 1200ms both;
}

.button__like {
  width: 28px;
  z-index: 0;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}
.button__like:hover::after {
  z-index: 1;
  animation: heart-fill 500ms forwards ease-in;
}
.button__like::after {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transform-origin: bottom;
  -webkit-text-stroke: 1px;
}

.hero__btngradient {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 #D5D5D5;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}
.hero__btngradient:hover {
  opacity: 0.85;
  box-shadow: 0 4px 10px 0 #afafaf;
}

.entete__restaurant--img {
  position: relative;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.menu {
  position: relative;
  background-color: #EAEAEA;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 50px 5%;
  margin-top: -30px;
  margin-inline: auto;
  z-index: 0;
}
@media all and (min-width: 1024px) {
  .menu {
    max-width: 1024px;
  }
}
.menu__heading {
  display: flex;
  align-items: center;
  margin: auto;
}
.menu__heading h2 {
  width: 87%;
  font-weight: 400;
  font-size: 28px;
  font-family: "Shrikhand", cursive;
}

.menu__orderbtn {
  display: flex;
  justify-content: center;
  padding: 50px 0 0 0;
}

.menu__type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__type h3 {
  border-bottom: 4px #99E2D0 solid;
  width: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: white;
  box-shadow: 0 4px 10px 0 #D5D5D5;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.menu-cards .menu-cards__checkout {
  transition: margin-right 600ms ease, transform 600ms ease;
}
.menu-cards:hover > .menu-cards__checkout {
  margin-right: 0px;
}
.menu-cards:hover > .menu-cards__checkout::after {
  transform: rotate(1080deg);
}
.menu-cards__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.menu-cards__description h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards__description p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: margin-right 400ms;
}
.menu-cards__checkout::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 400ms;
}

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.9;
  animation: loading-appear 2s both ease-in-out;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  min-width: 290px;
  height: 290px;
  border-radius: 50%;
  background: linear-gradient(to top, #ae80e5, transparent, #FF79DA);
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  z-index: 0;
  animation: rotate-gradient 3s;
}
.loader-spinner::after {
  z-index: 0;
  position: absolute;
  content: "";
  width: 85%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 50%;
  animation: pulse 1s ease-in-out infinite;
}

@media (min-width: 768px) {
  header .header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */