// couleurs du site
$main-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$white: #ffffff;
$black: #353535;
$grey: #EAEAEA;
$shadow: #D5D5D5;

// fonts
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
);

// degres

$degree: 357deg;

// mixin

/**** logo ****/

@mixin cursive__logo {
    font-weight: map-get($font-weight, regular);
    font-size: 28px;
    font-family: "Shrikhand", cursive;
}

/**** cercle ****/
@mixin circle {
    border-radius: 50%;
}
/**** Shadow ****/
@mixin object-shadow ($color: $shadow) {
    box-shadow: 0 4px 10px 0 $color;
}

/**** gradient ****/
@mixin gradient ($orientation: $degree) {
    background:linear-gradient( $degree, $main-color, $second-color);
}

// bords link
$radius-link: 30px;

// couleur background

.content-background {
    background: #f2f2f2;
}

.marginbas {
    margin-bottom: 0;
}

// polices

.white {
    color: white;
}

.black {
    color: black;
}

// Cards
.cards {
    
    height: 70px;
    background: #f2f2f2;
    align-content: center;
    width: 335px;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.2));
}

.cards-radius {
    border-radius: 15px;
}

* {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
}

header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo {
        padding: 30px 0 15px 0;
    }

    .header {
        width: 100%;
        height: 50px;
    }

    input {
        border: none;
    }
}

.header__form {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    flex-shrink: 0;
    background: #eaeaea;

    & input {
        background: #eaeaea;
        width: 200px;
        font-family: 'roboto', sans-serif;
        font-size: medium;
        color: #353535;
    }
}



.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.2);

    &__link {
        height: 50px;
        width: 228px;
        margin: 0 auto;
        display: inline-block;
        padding: 15px;
        background: linear-gradient(to bottom, $second-color, $main-color);
        color: white;
        text-decoration: none;
        border-radius: $radius-link;

        & a {
            color: $white;
        }
    }

    & h1 {
        margin: 35px 10px 0px 10px
    }

    & p {
        margin: 20px 20px 30px 20px;
    }
}

.howto {


    & h2 {
        margin: 50px 0 30px 20px;
    }



    .howto__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $main-color;
}

// restaurant section

.restaurant__cards {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 251px;
    margin: 10px;
    border-radius: 15px;
    background-color: $white;
    @include object-shadow;

    &:hover {
        @include object-shadow(darken($shadow, 10%))
    }

    &--img {
        position: relative;
        overflow: hidden;
        height: 175px;
        border-radius: 15px 15px 0px 0px;

        & img {
            width: 100%;
            height: 175px;
            object-fit: cover;
        }

        &--new {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 12px;
            width: 80px;
            height: 30px;
            border-radius: 2px;
            background-color: $third-color;
            color: darken($third-color, 40%);
            font-weight: map-get($font-weight, medium);
        }
    }

    &--info {
        display: flex;
        align-items: flex-start;
        height: auto;
        min-height: 75px;
        padding: 15px;

        &--text {
            width: 90%;
        }

        & h4, p {
            margin: 0;
        }
        
        & h4 {
            width: 267px;
            height: 20px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        & p {
            height: 24px;
            font-weight: 300;
            font-size: 17px;
        }
    }

    &--like {
        position: absolute;
        top: 76%;
        right: 7%;
        font-size: 25px;
    }
}

.footer__container {
    background: #353535;
    padding: 22px 25px 22px 25px;
    margin-top: 100px;

    .footer__container--links {

        padding: 0;

        & li {
            display: flex;
            padding-bottom: 7px;
        }
    }

    &--icon {
        padding-right: 5%;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 20px;
        font-size: 15px;
    }
}

.footer__container--logo {
    margin: 0 0 16px 0;
        @include cursive__logo;
        font-size: 22px;
        color: $white;
}

// Menu page

// **** Header **** //
.header__back {
    display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 5%;
        width: 20px;
        height: 20px;
        top: 2.5%;
        font-size: 30px;
        color: $black;
}

/* Heart fill */
@keyframes heart-fill {   
    100% {
        opacity: (1);
        transform: scale(1);
    }
}

// **** bouton like **** //

.button__like{
    width: 28px;
    z-index: 0;
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    padding: 0;
    border: transparent 0px solid;
    background-color: transparent;
    -webkit-text-stroke: 1px white;
    cursor: pointer;

    &:hover {
        &::after {
            z-index: 1;
            animation: heart-fill forwards;
        }
    }

    &::after {
        z-index: -1;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 25px;
        content: "\f004";
        color: transparent;
        @include gradient(45deg);
        background-clip: text;
        transform-origin: bottom;
        -webkit-text-stroke: 1px;
    }
}

.hero__btngradient{
    width: 218px;
    height: 50px;
    color: $white;
    font-size: 16px;
    @include gradient;
    border-radius: 25px;
    border: none;
    font-weight: map-get($font-weight, medium );
    @include object-shadow;
    cursor: pointer;
    margin: 27px 75px 57px 82px;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.85;
        @include object-shadow(darken($shadow, 15%));
    }
}

.entete__restaurant--img {
    position: relative;
    width: 100%;
    height: 250px;
}

.menu {
    position: relative;
    background-color: darken ($white, 6%);
    border-radius: 25px 25px 0px 0px;
    padding: 2% 5% 5% 5%;
    z-index: 0;

    &__heading {
        display: flex;
        align-items: center;
        margin: auto;

        & h2 {
            width: 87%;
            @include cursive__logo;
        }
    }
}

.menu__orderbtn {
    display: flex;
    justify-content: center;
}

.menu-type {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
        position: relative;
        margin: 4% 0% 2% 0%;
        padding: 10px 0px;
        font-size: 18px;
        font-weight: map-get($font-weight, light);
        text-transform: uppercase;

        &::after {
            display: block;
            position: absolute; 
            bottom: 2px;
            content: "";
            width: 40px;
            height: 4px;
            background-color: $third-color;
        }
    }
}

.menu-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
    padding: 0;
    background-color: white;
    @include object-shadow;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    &:hover>&__checkout {
        margin-right: 0px;

        &::after {
            transform: rotate(720deg);
        }
    }

    &__info {
        display: flex;
        flex: 1;
        justify-content: space-between;
        width: 100%;
        margin: 2%;
        gap: 2%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 5px;
    

        & h4 {
            margin: 0;
            font-size: 16px;
            font-weight: map-get($font-weight, medium);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & p {
            margin: 0;
            font-weight: map-get($font-weight, light);
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 20%;
        margin-right: -20%;
        border-radius: 0px 15px 15px 0px;
        background-color: $third-color;
        transition: margin-right 400ms;

        &::after {
            display: inline-block;
            margin: auto;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 25px;
            content: "\f058";
            color: $white;
            transition: transform 400ms;
        }
    }
}

@media (min-width: 768px) {

    header {


        .header__logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

}